$grey-projects-hover: #EBEBEB;
$grey-tasks-hover: #FAFAFA;
$grey-icons: #919191;

@mixin glyphicon-size {
  font-size: 25px;
}

@mixin default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14pt;
  margin-left: auto;
  margin-top: 50px;
}

body>div.container {
  margin-top: 100px;
}

.glyphicon-log-in {
  @include glyphicon-size
}

.glyphicon-log-out {
  @include glyphicon-size
}

.form-block {
  max-width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.form-helper {
  margin-top: 10px;
  font-weight: 200;
}

div.panel-body {
  border-top: 1px solid #F0F0F0;
  padding: 5px 10px 5px 10px;
  margin: 0;
  min-height: 46px;
}

.container.main {
  max-width: 750px;
}

.glyphicon {
  color: $grey-icons;
  &:hover{
    cursor: pointer;
    text-shadow: 1px 1px grey;
  }
  &.glyphicon-pencil{
    padding-right: 3px;
  }
}

@mixin hover-icons-elements {
  cursor: pointer;
  visibility: visible;
  transition: 0.5s;
}

.panel {
  .panel-body.panel-border-editing {
    border: 1px solid #8BE0FC;
  }
  
  .manage-icons, .prioritizer {
    visibility: hidden;
  }

  .manage-icons {
    span.glyphicon { margin: 2px }
    padding-left: 5px;
    padding-right: 10px;
    }
 
  .panel-heading:hover { /* hover on project and task */
    background-color: $grey-projects-hover;
    div.manage-icons{ @include hover-icons-elements }
  }
  .row.panel-body:hover {
    background-color: $grey-tasks-hover;
    .manage-icons, .prioritizer{ @include hover-icons-elements }
  }
}

.panel-heading {
  .col-md-10 {
    padding-left: 1px;
  }

  .col-md-1{
    padding-right: 5px;
  }
}

input {
  &.as-panel-body {
    min-height: 35px;
    display: block;
    padding: 0;
    margin: 0;
    border: 0; 
    width: 100%;
  }
  
  &.form-control {
    min-height: 40px;
  }
}

.strike {
  text-decoration: line-through;
}

.moment-picker { /* fix moment =) */
  z-index: 1060 !important;
}

div.col-md-1.col-sm-1.col-xs-1.left-manager {
  padding-left: 0px;
  padding-right: 5px;

  >.prioritizer {
    width: 40%;
    float:left;
    margin-right: 5%;
    padding-left: 5%
  }

  >.striker {
    width: 50%;
    float:right;
    text-align: center;
  }
}

.modal-footer {
  text-align: left!important;
  &.buttons {
    border-top: none!important;
  }
}

textarea {
   resize: none;
}

.file-uploader-icon {
  position: relative;
  float: right;
  right: 10px;
  bottom: 30px;
  .fa {
    color: $grey-icons;
    cursor: pointer;
  }
}

.modal.in {
   display:block;
   overflow-y:auto;
}

a {
  cursor: pointer;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
