<!DOCTYPE html>
<html lang="en" ng-app="TodoList">
<head>
  <meta charset="UTF-8">
  <title>TodoList</title>
  <script src="bin/app.bundle.js"></script>
  <link rel="stylesheet" href="bin/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>
  <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
</head>
<body>
  <flash-message duration="5000" show-close="true"></flash-message>  <!-- on-dismiss="myCallback(flash)" -->

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Ruby Garage</a>
        Simple ToDo List
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="signOut()" ng-if="user.signedIn"><span class="glyphicon glyphicon-log-out"></span></a></li>
        <li><a href="#!/login" ng-if="!user.signedIn"><span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
    </div>
  </nav>

  <div class="main container">
    <div ui-view></div>
  </div>
</body>
</html>
