
<div class="panel-group">
  <div ng-repeat="project in projectListCtrl.projects">
    <br>

    <div class="panel panel-default" ng-hide="editedProject === project">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1"><span ng-click="toggleList()" class="glyphicon" ng-class="taskList ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom'"></span></div>
          <div class="col-md-9"> {{project.name}} </div>
          <div class="col-md-2">
            <span class="glyphicon glyphicon-pencil" ng-click="startEditing(project)"></span>
            <span class="glyphicon glyphicon-trash" ng-click="destroy(project)"></span>
          </div>
        </div> 
      </div>
      <div ng-show="taskList">
        <div class="panel-body"> here will be tasks </div>
        <div class="panel-body"> here will be tasks </div>
      </div>
    </div>

    <form ng-show="editedProject === project" ng-submit="edit(project, editedProjectName)" class="panel">
      <input type="text" class="form-control" ng-model="editedProjectName"> 
      <button type="submit" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-light" ng-click="cancelEdit()">Cancel</button> 
    </form>

  </div>
</div>
