<div class="panel panel-default">
  <div class="panel-heading">Please sign up</div>
  <div class="panel-body">

    <!-- sign up form -->
    <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" ng-model="registrationForm.email" placeholder="Email" required autofocus>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="registrationForm.password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="password">Password confirmation</label>
        <input type="password" class="form-control" id="password" ng-model="registrationForm.password_confirmation" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Sign up</button>
    </form>

  </div>
</div>